{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        {% if form.non_field_errors %}
            <div class="label" role="alert"
            style="margin-top: 50px; color:red;font-size:80%;">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <form class="form" action="{% url 'main:login' %}" method="POST">
            {% csrf_token %}
            <span class="input-span">
                <label for="{{ form.username.id_for_label }}" class="label">Имя Пользователя</label>
                {{ form.username }}
            </span>
            <span class="input-span">
                <label for="{{ form.password.id_for_label }}" class="label">Пароль</label>
                {{ form.password }}
            </span>
            <span class="span"></span>
            <input class="submit" type="submit" value="Войти" />
            <span class="span">Нет аккаунта? <a href="{% url 'main:registration' %}"><br>Зарегестрироваться</a></span>
        </form>
    </div>
</body>
</html>