{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <title>Registration</title>
</head>
<body>
    <div class="container">
        {% if form.errors %}
            <div class="label" role="alert"
            style="margin-top: 50px; color:red;font-size:80%;">
                {{ form.errors }}
            </div>
        {% endif %}
        <form class="form" action="{% url 'main:registration' %}" method="POST">
            {% csrf_token %}
            <span class="input-span">
                <label for="{{ form.email.id_for_label }}" class="label">Эл. почта</label>
                {{ form.email }}
            </span>
            <span class="input-span">
                <label for="{{ form.username.id_for_label }}" class="label">Имя пользователя</label>
                {{ form.username }}
            </span>
            <span class="input-span">
                <label for="{{ form.password1.id_for_label }}" class="label">Пароль</label>
                {{ form.password1 }}
            </span>
            <span class="input-span">
                <label for="{{ form.password2.id_for_label }}" class="label">Подтвердите пароль</label>
                {{ form.password2 }}
            </span>
            <span class="span"></span>
            <input class="submit" type="submit" value="Зарегестрироваться" />
            <span class="span">Есть аккаунт? <a href="{% url 'main:login' %}"><br>Войти</a></span>
        </form>
    </div> 
</body>
</html>